:host {
  display: block;
}
:host:hover {
  cursor: pointer;
}
.card {
  width: 215px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.45) !important;
}
img {
  width: 215px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}
