.right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  border-left: 1px solid gray;
  height: 100%;
}

.left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.login-content {
  margin: 0 auto;
  height: 100px;
  margin-top: 25%;
}

.mat-card {
  box-shadow: 0 0 black;
}

.login-toolbar {
  justify-content: center;
  background-color: white;
  font-size: 30px;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button {
  width: 100%;
  margin-top: 24px;
}

.avatar-preview {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  background-position: center;
  display: block;
  margin: 0 auto;
  margin-top: 30%;
}

.avatar-preview > div {
  height: 220px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo img {
  height: 37px;
  width: 221px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.authorization {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.authorization a {
  padding: 0 10px;
  font-size: 24px;
  text-decoration: none;
  color: #333333;
  margin-right: 35px;
}
