<mat-toolbar class="registration-toolbar" color="primary">Registration form</mat-toolbar>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out fields</ng-template>
        
        <mat-form-field>
          <mat-label>Are you mentor or mentee? </mat-label>
          <mat-select [formControl]="userControl" required>
            <mat-option value="mentor">Mentor</mat-option>
            <mat-option value="mentee">Mentee</mat-option>
          </mat-select>
          <mat-error *ngIf="userControl.hasError('required')">
            Please choose a role
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field>
          <mat-label>Your name</mat-label>
          <input matInput id="fullName" placeholder="Your name" 
              formControlName="fullName" required>
        </mat-form-field>
        <br/>

        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput id="login" placeholder="Login" 
              formControlName="login" required >  
        </mat-form-field>
        <br/>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput id="email" placeholder="Email" 
                formControlName="email" required>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput id="password" placeholder="Password" 
                [type]="hide ? 'password' : 'text'" type="password" 
                formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput id="confirmPassword" placeholder="Confirm password" 
                [type]="hide2 ? 'password' : 'text'" type="password" 
                formControlName="confirmPassword" required>
            <mat-icon matSuffix (click)="hide2 = !hide2">
              {{hide2 ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </mat-form-field>
        <br/>

        <div>
          <button class="btn" mat-button mat-raised-button color="primary" matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out information</ng-template>

        <mat-form-field>
          <mat-label>Which class format do you prefer?</mat-label>
          <mat-select [formControl]="classFormatControl" multiple required>
            <mat-option value="ofline">Online</mat-option>
            <mat-option value="offline">Offline</mat-option>
          </mat-select>
          <mat-error *ngIf="classFormatControl.hasError('required')">
            Please choose a format
          </mat-error>
        </mat-form-field>
        <br/>
       
        <mat-form-field >
          <mat-label>Choose your skills</mat-label>
          <mat-select [formControl]="skillsControl" multiple required>
            <mat-option *ngFor="let skill of skillsList" [value]="skill">
              {{skill}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/> 

        <mat-form-field>
          <mat-label>Choose your work experience</mat-label>
          <mat-select [formControl]="workControl" required>
            <mat-option *ngFor="let level of levelList" [value]="level">
              {{level}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="workControl.hasError('required')">
            Please choose a work experience
          </mat-error>
        </mat-form-field>
        <br/>
      
        <mat-form-field *ngIf="userControl.value == 'mentor'">
          <mat-label>Choose your future mentee level</mat-label>
          <mat-select [formControl]="levelControl" multiple>
            <mat-option *ngFor="let level of levelList" [value]="level">
              {{level}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br/>
        <div>
          <button class="btn" mat-button mat-raised-button color="primary" matStepperPrevious>
           Back
          </button>&nbsp;
          <button class="btn" mat-button mat-raised-button color="primary" matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="thirdformGroup">
        <ng-template matStepLabel>Finish</ng-template>

        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput id="dateOfBirth" formControlName="dateOfBirth" 
              [matDatepicker]="picker" [max]="maxToDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br/>

        <mat-form-field>
          <mat-label>About you</mat-label>
          <textarea matInput id="aboutYou" formControlName="aboutYou" 
              placeholder="Example - Address: 1 Main St, New York, NY" required></textarea>
        </mat-form-field>
        <br/>
        
        <mat-form-field>
          <input [hidden]="true" (change)="onFileSelect($event)" type="file" accept="all/*" #fileSelect>
          <input readonly id="filename" matInput formControlName="filename" 
              placeholder="Select your avatar..."/>
          <button *ngIf="base64File" (click)="base64File = null; filename = null" 
              matSuffix matTooltip="Remove selected file"
              [matTooltipPosition]="'above'" type="button" color="warn" mat-icon-button>
              <mat-icon>close</mat-icon>
          </button>
          <button matSuffix mat-icon-button (click)="fileSelect.click()"  
          matTooltip="Select a file" [matTooltipPosition]="'above'">
            <mat-icon>file_upload</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <div class="avatar-preview">
          <div id="imagePreview" [style.backgroundImage]="'url('+ base64File +')'">
          </div>
        </div> 
        <br/><br/>

        <p>Everything seems correct. Confirm the data? </p>
        <br/>
        <div>
          <button mat-button (click)="stepper.reset()">Reset</button>&nbsp;
          <button id="accepted" mat-raised-button color="primary" (click)="confirmYes()">
            Done
          </button> 
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  