<header>
    <div class="container">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/DataArt%27s_Logo.png" alt="Data Art logo">
        </div>
        <div class="authorization">
            <a routerLink="auth/login">Sign In</a>
            <a routerLink="auth/registration">Sign Up</a>
        </div>
    </div>
</header>
<content>
    <div class="first">
        <h1>Tech Leaders Network</h1>
        <h2>Make a choice, choose a future</h2>
    </div>
    <div class="second">
        <div>
            <img align="left" src="../../../assets/tech-logo.jpg" >
            <p> Social platform for communication <br/><br/>
                 of mentors with menties</p>
        </div>
    </div>
    
</content>

